// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";
/* prueba de scss */
// Import Bootstrap
@import "../assets/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.page-container{
  max-width: 1440px;
  @media (max-width: 480px) {
    padding: 0.5rem 1rem;
  }
}
.bg-sidebar{
  background: $white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  position: relative;
  .sidebar-brand{
    background: $blue-primary;
  }
}
.navbar{
  .logo-campus{
    .logo-site{
      width: 130px;
    }
  }
    .dropdown{
      .username-dropdown{
        background-color: $bgcolor;
        margin: 5px;
        border-radius: 50px;
        padding: .5rem 1rem;
        @media (max-width: 480px) {
          padding: 0;
        }
      }
      .icon-search{
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 480px) {
          height: 2.5rem;
          width: 2.5rem;
          background: transparent;
          color: $gray-700;
          font-size: 1.4rem;
        }
      }
      .badge-bell{
        background-color: $yellow;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        @media (max-width: 480px) {
          height: 2.5rem;
          width: 2.5rem;
          background: transparent;
          color: $gray-700;
          font-size: 1.4rem;
        }
      }
    }
  .dropdown-menu{
    background-color: #FFF;
    border: 1px solid #cdcdcd;
    .user-header{
      .img-circle{
        border-radius: 50px;
      }
      a{
        text-decoration: none;
      }
    }
    .name{
      margin: 0;
      padding: .5rem 0;
      font-weight: bold;
      color: $gray-800;
      font-size: 14px;
    }
  }
}
.card{
  border: none;
  .card-header{
    margin-bottom: .3rem !important;
    border-bottom: none;
    padding: 0;
    background-color: $gray-one;
    .btn-link{
      color: $gray-800;
      font-weight: 700;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }
  .card-body{

  }
}

.course-box{
  padding: .5rem 1rem;
  .badge{
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    line-height: 25px;
    @media (max-width: 480px) {
      width: 22px;
      height: 22px;
      line-height: 16px;
      font-size: 16px;
    }
  }
  .badge-warning{
    color: #000;
    background-color: #f6c23e;
  }
  .course-link{
    display: inline-block;
    width: 100%;
    color: $gray-700;
    img{
      width: 32px;
      @media (max-width: 768px) {
        width: 22px;
      }
    }
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
.navbar-light{
  background-color: $white;
  @media (max-width: 480px) {
    background-color: $gray-100;
  }
}
#tab_courses.tab-content{
  background-color: #FFF;
}
.category-name{
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  @media (max-width: 480px) {
    font-size: 1.1rem;
    margin-left: 0.5rem;
  }
}
.title-page{
  font-size: 1.5rem;
  color: $gray-800;
  font-weight: 800;
}
.box-odd{
  background-color: $gray-odd;
}
.box-even{
  background-color: $gray-even;
}
.section-col-table{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
}
.topbar {
  #sidebarToggleTop{
    margin-right: 0.5rem;
    padding: 0.375rem;
    .fa-bars{
      font-size: 1.4rem;
    }
  }
}
.row-date{
  width: 150px;
  display: inline-block;
  @media (max-width: 480px) {
    font-size: 12px;
  }
}
.nav-tabs{
  border-bottom: 1px solid #FFF;
  @media (max-width: 480px) {
    border-bottom: 1px solid #dddfeb;
  }
  .nav-link{
    border-bottom: none;
    @media (max-width: 480px) {
      border-bottom: 1px solid transparent;
    }
  }
}
.pagination-items{
  margin-top: 1rem;
  .justify-content-end{
    @media (max-width: 480px) {
      justify-content: center !important;
    }
  }
  .pagination{
    .page-item{
      .page-link{
        font-size: 14px;
        @media (max-width: 480px) {
          font-size: 12px;
        }
      }
    }
  }
}
.bar-action-pages{
  margin-top: 1rem;
  .btn-outline-secondary{
    font-size: 16px;
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}
.notifications{
  .card-body{
    .message-row{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .message_check{
      padding: 1rem 0.5rem;
    }
    .message-title{
      font-size: 14px;
      line-height: 18px;
      width: 100%;
      display: inline-block;
    }
    .message-date{
      font-size: 10px;
      text-align: center;
    }
    .message-type{
      span{
        padding: 1rem 0.5rem;
        .fa-lg{
          font-size: 1rem;
        }
      }
    }
    .session_title{
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 250px;
    }
    @media (max-width: 480px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
.category{
  .container-fluid{
    @media (max-width: 480px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
.card-header{
  .btn-link{
    img{
      @media (max-width: 480px) {
        width: 22px;
        height: 22px;
      }
    }
  }
}
.card{
  .course-link{
    img{
      @media (max-width: 480px) {
        width: 22px;
        height: 22px;
      }
    }
  }
  @media (max-width: 480px) {
    border-radius: 0;
  }
}
.btn-download{
  font-size: 14px;
  border-radius: 50px;
  background-color: $brand-one;
  border-color: $brand-one;
  @media (max-width: 480px) {
    font-size: 12px;
  }
}
.btn-share{
  background-color: $brand-four;
  border-color: $brand-four;
  border-radius: 50px;
  .circle-linkedin{
    width: 22px;
    height: 22px;
    background-color: $white;
    border-radius: 50px;
    display: inline-block;
    color: $brand-four;
  }
}
.course-title{
  font-weight: bold;
  color: $gray-800;
  @media (max-width: 480px) {
    font-weight: 700;
    font-size: 15px;
  }
}
.message{
  .title{
    font-weight: 800;
    font-size: 1.9em;
    color: $gray-900;
    @media (max-width: 480px) {
      font-size: 1.9rem;
    }
  }
  .info{
    font-size: 14px;
  }
  .program{
    display: inline-block;
    width: 100%;
    padding: .5rem 1rem;
    background-color: $blue-primary;
    color: $white;
    border-radius: 5px;
  }
  .program-mobile{
    font-size: 14px;
    img{
      display: none;
    }
  }
  .content{
    @media (max-width: 480px) {
      table{
        width: 100% !important;
      }
    }
    .img-responsive{
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
.table tr th{
  vertical-align: middle;
}
.table-read{
  background-color: #f9f9f9;
  border-bottom: 4px solid #FFF;
}
.table-unread{
  background-color: #f2f2f2;
  border-bottom: 4px solid #FFF;
}
.row_selected{
  background-color: #FFFFCC;
}
.table tr.table-unread:hover, .table tr.table-read:hover {
  background-color: #E5EDF9;
}
.message-unread{
  font-weight: 800;
  color: $gray-800;
  &:hover, &:focus{
    text-decoration: none;
  }
}
.message-read{
  color: $gray-800;
}
.section-form{
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.4em;
  color: #697EEA;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 1rem;
}
.form-group .form-label.label{
  font-weight: bold;
}
.form-group .form-control{
  background-color: #FFF !important;
  border-color: #cdcdcd;
  border-width: 1px;
  border-radius: 10px;
  &:disabled{
    background-color: #f2f2f2 !important;
    opacity: 1;
  }
}
.card.avatar-profile{
  border: 1px solid #e3e6f0;
}
#picture-form-group .cropCanvas{
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;

}
#table-message{
  .fa-pencil-alt{
    &:before{
      color: #4e4957;
    }
  }
  .fa-bell{
    &:before{
      color: $blue-primary;
    }
  }
  .fa-envelope{
    &:before{
      color: #0b2d4f;
    }
  }
  .fa-envelope-open{
    &:before{
      color: #0b2d4f;
    }
  }
  .fa-comments{
    &:before{
      color: #0b2d4f;
    }
  }
}
.help-block{
  font-size: 12px;
  padding: 1rem 0;
}

.help-inline-error{
  color: #721c24;
  background-color: #f8d7da;
  position: relative;
  padding: .25rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
  width: 100% !important;
  display: inline-block;
  font-size: 14px;
  margin-top: 1rem;
}
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  background: #f2f2f2;
}
.bd-callout-info {
  border-left-color: #5bc0de;
}
.btn-outline-secondary {
  color: #858796;
  border-color: #d1d3e2;
}
.help-info-form{
  color: #ed0909;
  margin: 5px;
  font-size: 12px;
}

.card-course{
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  .btn-primary{
    color: #fff;
    background-color: $brand-five;
    border-color: $brand-five;
  }
  .card-body{
    padding-bottom: 0;
  }
  .card-footer{
    background: transparent;
    border: none;
  }
  .card-image{
    .price{
      //background-color: #000A4A;
      background-color: #4E73DF;
      font-size: 16px;
      font-weight: 800;
      padding: 5px 10px;
      flex-direction: row;
      color: #FFF;
      position: absolute;
      border-radius: 10px 0 0 0;
      top: 160px;
      right: 0;
    }
  }
  .card-title{
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    display: block;
    max-width: 100%;
    margin-top: 0;
    a{
      color: $brand-two;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }
  .card-img-top{
    width: 100%;
    max-width: 100%;
    height: 195px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .date{
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
  .tags{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: $brand-two;
    padding: 0;
    margin: 0 0 0.5rem 0;
  }
}
.view-media-image{
  position: relative;
  .view-price{
    background-color: $brand-one;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 5px 10px;
    flex-direction: row;
    color: $white;
    position: absolute;
    border-radius: 0.8rem 0 0.8rem 0;
    bottom: 0;
    right: 0;
  }
  .rounded{
    border-radius: 0.8rem !important;
  }
}
.fa-2xl{
  font-size: 3rem;
  color: #0f6848;
}
.border-calendar{
  padding: 1rem;
  background: #eaecf4;
  border:1px solid #cdcdcd;
  border-radius: 0.8rem !important;
}
.view-title-course{
  font-size: 2.2rem;
  font-weight: 900;
  display: block;
  max-width: 100%;
  margin-top: 0;
  color: $brand-two;
  margin-bottom: 2rem;
  @media (max-width: 480px) {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
.view-tags{
  margin-bottom: 0;
  font-size: 1.2rem;
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}
.view-pay-icon{
  text-align: center;
}
.view-dates{
  background: #fdffe2;
  padding: 1rem;
  border: 1px solid #cdcdcd;
}
.view-mode{
  font-weight: 800;
  font-size: 1.2rem;
  color: $brand-two;
  padding: 1rem 0 .2rem 0;
}
.course-name{
  margin-bottom: 1rem;
  .title{
    font-size: 18px;
    font-weight: 800;
  }

}
.course-list-calendar{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: normal;
  ul{
    li{
      margin: 0 !important;
    }
  }
}
.view-duration{
  font-size: 1.2rem;
  color: $brand-two;
  padding: 0 0 .5rem 0;
}
.view-sub-title{
  font-size: 1.5rem;
  color: $brand-two;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.view-dates{
  strong{
    font-weight: 800;
  }
}
.view-buttons{
  .btn-default{
    border-color: $brand-five;
    color: $brand-five;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0.8rem 0.5rem;
  }
  .btn-primary{
    border-color: $brand-five;
    background-color: $brand-five;
    color: $white;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0.8rem 0.5rem;
  }
}
.exercise-overview{
  .page-header{
    font-size: 1.5rem;
    font-weight: 800;
  }
}
.navbar-search{
  width: 30rem !important;
  position: relative;
  @media (max-width: 480px) {
    width: 100% !important;
  }
  .dropdown-list{
    width: 30rem !important;
  }
  #loader {
    display: none;
    text-align: center;
    padding: 0;
    position: absolute;
    left: -30px;
    top: 2px;
    z-index: 10;
  }
  input{
    height: 40px !important;
  }
  .list-group{
    position: absolute;
    width: auto;
    z-index: 10;
    border: none;
    max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
    .list-group-item{
      padding: 0;
      background-color: #eefaff;
      .dropdown-item{
        line-height: 1rem;
        @media (max-width: 480px) {
          padding: 0.25rem;
        }
      }
      .title{
        font-size: 1rem;
        font-weight: 800;
      }
    }
  }
}
.card-section{
  .container-fluid{
    padding: 0 !important;
  }
}
.card-home{
  .card-header{
    background-color: $blue-primary;
    color: $white;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    @media (max-width: 480px) {
      padding: 0.5rem;
      margin-bottom: 0 !important;
      font-size: 1.2rem !important;
    }
    @media (max-width: 768px) {
      font-size: .9rem; // tamaño más pequeño para móviles
      text-align: left; // opcional: centrar en móvil
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .course-home-title{
    font-weight: 800;
    color: #0a0a0a;
    font-size: 2.5rem;
    span{
      color: $blue-primary;
    }
    @media (max-width: 768px) {
      font-size: 1.5rem; // tamaño más pequeño para móviles
      text-align: left; // opcional: centrar en móvil
      padding-top: 1rem;
    }
    @media (max-width: 480px) {
      font-size: 1.8rem;
      padding-top: 0;
      margin-top: 1.3rem;
    }
  }
}
.link_home{
  text-align: center;
  padding: 1rem;
  background-color: $gray-100;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  color: $gray-700;
  font-weight: bold;
}
.link_scorm{
  text-align: center;
  padding: 0.5rem;
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  color: $gray-700;
  font-weight: bold;
  border: 1px solid $gray-300;
  .label{
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
.is_graduates{
  margin-top: 1rem;
  font-size: 14px;
}
.alert-welcome{
  padding: 1.5rem 0.5rem;
  background-color: #cff6c5;
  border-color: #cff6c5;
  .icon{
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.bg-icon-home{
  background-color: #f2f2f2 !important;
}
.link_tool{
  text-align: center;
  padding: 1.5rem 0.5rem;
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  color: $gray-700;
  font-weight: bold;
  border: 1px solid $gray-300;
  @media (max-width: 480px) {
    padding: 0.5rem 0rem;
  }
  .label{
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
.title-tool-section{
  font-weight: 800;
  font-size: 1.5rem;
}
.topbar {
  .navbar-search{
    input{
      background: url("../img/icons/search.svg") no-repeat center left;
      border: 1px solid $gray-300 !important;
      padding-left: 2rem;
    }
  }
}


$toggleSize: 40px;
$toggleMargin: 10px;
$toggleLine: 4px;
$toggleColor: red;

.nav-mobile {
  position: relative;
  display: inline-block;
  max-width: $toggleSize + $toggleMargin;
  max-height: $toggleSize + $toggleMargin;
  overflow: visible;
  outline: none;
  .logo-campus{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &.is-active {
    .nav-toggle {
      &:before,
      &:after {
        box-shadow: none;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    .nav-items {
      transform: translate(0, 0);
    }
  }

  .nav-toggle {
    $offset: $toggleSize * 0.5;

    position: relative;
    width: $toggleSize;
    height: $toggleSize;
    margin: $toggleMargin;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: #{$offset - $toggleLine / 2};
      left: 0;
      transform: translate(0, 0);
      width: 100%;
      height: $toggleLine;
      background: $toggleColor;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    &:before {
      box-shadow: 0 #{$offset / 1.5} 0 0 $toggleColor;
    }

    &:after {
      box-shadow: 0 #{-$offset / 1.5} 0 0 $toggleColor;
    }
  }

  .nav-items {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 50vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 10px;
    transition: transform 0.3s ease;
    transform: translate(calc(-100% - 50px), 0);
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0;
    align-content: start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    .nav-item.active{
      color: white;
      background-color: $brand-one;
    }
    .nav-item {
      background: #e6e6e6;
      padding: 10px;
      transition: background-color 0.3s ease;
      color: rgba(58, 59, 69, 0.8);
      border-radius: 10px;
      font-size: 16px;
      span{
        margin-left: 0.5rem;
      }
      &:hover {
        cursor: pointer;
        background: darken(#efefef, 10%);
      }
    }
  }
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2); /* 20% opacidad negra */
  z-index: 1001;
  display: none; /* Oculto por defecto */
}

.nav-mobile.is-active {
  z-index: 1005; /* Asegura que esté encima del overlay */
}

body.no-scroll .menu-overlay {
  display: block; /* Se muestra cuando el menú está activo */
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  font-size: 14px;

  li {
    display: flex;
    align-items: center;

    &:not(:first-child)::before {
      content: "›"; // Cambia por ">" o "/" si prefieres
      margin: 0 0.5em;
      color: #999;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      color: #007bff;
      white-space: nowrap;
      transition: color 0.2s;

      &:hover {
        color: #0056b3;
      }
    }

    img {
      vertical-align: middle;
      margin-right: 4px;
      height: 16px;
    }

    &:last-child {
      font-weight: bold;
      color: $gray-700;

      a {
        pointer-events: none;
        color: inherit;
      }
    }
  }

  @media (max-width: 600px) {
    font-size: 12px;

    li {
      &:not(:first-child)::before {
        margin: 0 0.3em;
      }

      img {
        height: 14px;
      }
    }
  }
}
#toolbar-document{
  display: none;
}
.course-mobile{
  background-color: #f2f2f2;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  .mobile-title{
    .btn-link{
      padding: 0;
    }
    .btn-download{
      font-size: 12px;
      padding: 0 5px;
    }
  }
}
.modal{
  @media (max-width: 480px) {
    ul{
      padding: 0;
      list-style: none;
    }
  }
}
.icon-mobile{
  width: 32px;
}
.date-mobile{
  font-size: 11px;
}
.actions{
  background: $white;
  padding: 1rem;
  margin-bottom: 1rem;
}
.panel{
  background: $white;
  .panel-body{
    padding: 2rem;
  }
}
.card .actions{
  border: 1px solid $gray-200;
  border-radius: 10px;
  padding: 0.5rem;
}
.forum_display{
  .title{
    font-weight: 800;
    font-size: 1.2rem;
  }
}
.topic-forum{
  .title-forum{
    font-weight: 800;
    font-size: 1.5rem;
  }
}
.survey-block{
  h2{
    font-weight: 800;
    font-size: 1.5rem;
  }
}
.thumbnail {
  img{
    max-width: 100%;
    height: auto;
    display: block;
  }
}
.forum-post{
  .forum_post_title{
    font-weight: 800;
    font-size: 1.5rem;
  }
  .thumbnail{
    img{
      width: 64px;
      border-radius: 10px;
    }
  }
  .title-username{
    font-size: 14px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .mobile-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .topbar .dropdown .dropdown-menu{
    width: 100%;
    right: 0;
  }
  .card-catalog{
    .container-fluid{
      padding: 0 !important;
    }
  }
}