// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";
/* prueba de scss */
// Import Bootstrap
@import "../assets/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.page-container{
  max-width: 1440px;
}
.bg-sidebar{
  background: $white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  position: relative;
  .sidebar-brand{
    background: $blue-primary;
  }
}
.navbar{
    .dropdown{
      .username-dropdown{
        background-color: $bgcolor;
        margin: 5px;
        border-radius: 50px;
        padding: .5rem 1rem;

      }
      .badge-bell{
        background-color: $yellow;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  .dropdown-menu{
    background-color: #FFF;
    border: 1px solid #cdcdcd;
    .user-header{
      .img-circle{
        border-radius: 50px;
      }
      a{
        text-decoration: none;
      }
    }
    .name{
      margin: 0;
      padding: .5rem 0;
      font-weight: bold;
      color: $gray-800;
      font-size: 14px;
    }
  }
}
.card{
  border: none;
  .card-header{
    margin-bottom: .3rem !important;
    border-bottom: none;
    padding: 0;
    background-color: $gray-one;
    .btn-link{
      color: $gray-800;
      font-weight: 700;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }
  .card-body{

  }
}

.course-box{
  padding: .5rem 1rem;
  .badge{
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    line-height: 25px;
  }
  .badge-warning{
    color: #000;
    background-color: #f6c23e;
  }
  .course-link{
    display: inline-block;
    width: 100%;
    color: $gray-700;
  }
}

#tab_courses.tab-content{
  background-color: #FFF;
}
.category-name{
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}
.title-page{
  font-size: 1.5rem;
  color: $gray-800;
  font-weight: 700;
}
.box-odd{
  background-color: $gray-odd;
}
.box-even{
  background-color: $gray-even;
}
.section-col-table{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
}
.row-date{
  width: 150px;
  display: inline-block;
}
.nav-tabs{
  border-bottom: 1px solid #FFF;
  .nav-link{
    border: none;
  }
}
.btn-download{
  font-size: 14px;
  border-radius: 50px;
  background-color: $brand-one;
  border-color: $brand-one;
}
.btn-share{
  background-color: $brand-four;
  border-color: $brand-four;
  border-radius: 50px;
  .circle-linkedin{
    width: 22px;
    height: 22px;
    background-color: $white;
    border-radius: 50px;
    display: inline-block;
    color: $brand-four;
  }
}
.course-title{
  font-weight: bold;
  color: $gray-800;
}
.message{
  .title{
    font-weight: 800;
    font-size: 1.5em;
    color: $gray-900;
  }
  .program{
    display: inline-block;
    width: 100%;
    padding: .5rem 1rem;
    background-color: $blue-primary;
    color: $white;
    border-radius: 5px;
  }
}
.table tr th{
  vertical-align: middle;
}
.table-read{
  background-color: #f9f9f9;
  border-bottom: 4px solid #FFF;
}
.table-unread{
  background-color: #f2f2f2;
  border-bottom: 4px solid #FFF;
}
.row_selected{
  background-color: #FFFFCC;
}
.table tr.table-unread:hover, .table tr.table-read:hover {
  background-color: #E5EDF9;
}
.message-unread{
  font-weight: 800;
  color: $gray-800;
  &:hover, &:focus{
    text-decoration: none;
  }
}
.message-read{
  color: $gray-800;
}
#table-message{
  .fa-pencil-alt{
    &:before{
      color: #4e4957;
    }
  }
  .fa-bell{
    &:before{
      color: $blue-primary;
    }
  }
  .fa-envelope{
    &:before{
      color: #0b2d4f;
    }
  }
  .fa-envelope-open{
    &:before{
      color: #0b2d4f;
    }
  }
  .fa-comments{
    &:before{
      color: #0b2d4f;
    }
  }
}