// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";
/* prueba de scss */
// Import Bootstrap
@import "../assets/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.page-container{
  max-width: 1440px;
}
.bg-sidebar{
  background: $white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  position: relative;
  .sidebar-brand{
    background: $blue-primary;
  }
}
.navbar{
    .dropdown{
      .username-dropdown{
        background-color: $bgcolor;
        margin: 5px;
        border-radius: 50px;
        padding: .5rem 1rem;

      }
      .badge-bell{
        background-color: $yellow;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  .dropdown-menu{
    background-color: #FFF;
    border: 1px solid #cdcdcd;
    .user-header{
      .img-circle{
        border-radius: 50px;
      }
      a{
        text-decoration: none;
      }
    }
    .name{
      margin: 0;
      padding: .5rem 0;
      font-weight: bold;
      color: $gray-800;
      font-size: 14px;
    }
  }
}
.card{
  border: none;
  .card-header{
    margin-bottom: .3rem !important;
    border-bottom: none;
    padding: 0;
    background-color: $gray-one;
    .btn-link{
      color: $gray-800;
      font-weight: 700;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }
  .card-body{

  }
}

.course-box{
  padding: .5rem 1rem;
  .badge{
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    line-height: 25px;
  }
  .badge-warning{
    color: #000;
    background-color: #f6c23e;
  }
  .course-link{
    display: inline-block;
    width: 100%;
    color: $gray-700;
  }
}

#tab_courses.tab-content{
  background-color: #FFF;
}
.category-name{
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}
.title-page{
  font-size: 1.5rem;
  color: $gray-800;
  font-weight: 700;
}
.box-odd{
  background-color: $gray-odd;
}
.box-even{
  background-color: $gray-even;
}
.section-col-table{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
}
.row-date{
  width: 150px;
  display: inline-block;
}
.nav-tabs{
  border-bottom: 1px solid #FFF;
  .nav-link{
    border: none;
  }
}
.btn-download{
  font-size: 14px;
  border-radius: 50px;
  background-color: $brand-one;
  border-color: $brand-one;
}
.btn-share{
  background-color: $brand-four;
  border-color: $brand-four;
  border-radius: 50px;
  .circle-linkedin{
    width: 22px;
    height: 22px;
    background-color: $white;
    border-radius: 50px;
    display: inline-block;
    color: $brand-four;
  }
}
.course-title{
  font-weight: bold;
  color: $gray-800;
}
.message{
  .title{
    font-weight: 800;
    font-size: 1.5em;
    color: $gray-900;
  }
  .program{
    display: inline-block;
    width: 100%;
    padding: .5rem 1rem;
    background-color: $blue-primary;
    color: $white;
    border-radius: 5px;
  }
}
.table tr th{
  vertical-align: middle;
}
.table-read{
  background-color: #f9f9f9;
  border-bottom: 4px solid #FFF;
}
.table-unread{
  background-color: #f2f2f2;
  border-bottom: 4px solid #FFF;
}
.row_selected{
  background-color: #FFFFCC;
}
.table tr.table-unread:hover, .table tr.table-read:hover {
  background-color: #E5EDF9;
}
.message-unread{
  font-weight: 800;
  color: $gray-800;
  &:hover, &:focus{
    text-decoration: none;
  }
}
.message-read{
  color: $gray-800;
}
.section-form{
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.4em;
  color: #697EEA;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 1rem;
}
.form-group .form-label.label{
  font-weight: bold;
}
.form-group .form-control{
  background-color: #FFF !important;
  border-color: #cdcdcd;
  border-width: 1px;
  border-radius: 10px;
  &:disabled{
    background-color: #f2f2f2 !important;
    opacity: 1;
  }
}
.card.avatar-profile{
  border: 1px solid #e3e6f0;
}
#picture-form-group .cropCanvas{
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;

}
#table-message{
  .fa-pencil-alt{
    &:before{
      color: #4e4957;
    }
  }
  .fa-bell{
    &:before{
      color: $blue-primary;
    }
  }
  .fa-envelope{
    &:before{
      color: #0b2d4f;
    }
  }
  .fa-envelope-open{
    &:before{
      color: #0b2d4f;
    }
  }
  .fa-comments{
    &:before{
      color: #0b2d4f;
    }
  }
}
.help-block{
  font-size: 12px;
  padding: 1rem 0;
}

.help-inline-error{
  color: #721c24;
  background-color: #f8d7da;
  position: relative;
  padding: .25rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
  width: 100% !important;
  display: inline-block;
  font-size: 14px;
  margin-top: 1rem;
}
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  background: #f2f2f2;
}
.bd-callout-info {
  border-left-color: #5bc0de;
}
.btn-outline-secondary {
  color: #858796;
  border-color: #d1d3e2;
}
.help-info-form{
  color: #ed0909;
  margin: 5px;
  font-size: 12px;
}

.card-course{
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  .btn-primary{
    color: #fff;
    background-color: $brand-five;
    border-color: $brand-five;
  }
  .card-body{
    padding-bottom: 0;
  }
  .card-footer{
    background: transparent;
    border: none;
  }
  .card-image{
    .price{
      //background-color: #000A4A;
      background-color: #4E73DF;
      font-size: 16px;
      font-weight: 800;
      padding: 5px 10px;
      flex-direction: row;
      color: #FFF;
      position: absolute;
      border-radius: 10px 0 0 0;
      top: 160px;
      right: 0;
    }
  }
  .card-title{
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    display: block;
    max-width: 100%;
    margin-top: 0;
    a{
      color: $brand-two;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }
  .card-img-top{
    width: 100%;
    max-width: 100%;
    height: 195px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .date{
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
  .tags{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: $brand-two;
    padding: 0;
    margin: 0 0 0.5rem 0;
  }
}
.view-media-image{
  position: relative;
  .view-price{
    background-color: $brand-one;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 5px 10px;
    flex-direction: row;
    color: $white;
    position: absolute;
    border-radius: 0.8rem 0 0.8rem 0;
    bottom: 0;
    right: 0;
  }
  .rounded{
    border-radius: 0.8rem !important;
  }
}
.border-calendar{
  padding: 1rem;
  background: #eaecf4;
  border:1px solid #cdcdcd;
  border-radius: 0.8rem !important;
}
.view-title-course{
  font-size: 2.2rem;
  font-weight: 900;
  display: block;
  max-width: 100%;
  margin-top: 0;
  color: $brand-two;
  margin-bottom: 2rem;
}
.view-tags{
  margin-bottom: 0;
  font-size: 1.2rem;
}
.view-pay-icon{
  text-align: center;
}
.view-dates{
  background: #fdffe2;
  padding: 1rem;
  border: 1px solid #cdcdcd;
}
.view-mode{
  font-weight: 800;
  font-size: 1.2rem;
  color: $brand-two;
  padding: 1rem 0 .2rem 0;
}
.course-name{
  margin-bottom: 1rem;
  .title{
    font-size: 18px;
    font-weight: 800;
  }

}
.course-list-calendar{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: normal;
  ul{
    li{
      margin: 0 !important;
    }
  }
}
.view-duration{
  font-size: 1.2rem;
  color: $brand-two;
  padding: 0 0 .5rem 0;
}
.view-sub-title{
  font-size: 1.5rem;
  color: $brand-two;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.view-dates{
  strong{
    font-weight: 800;
  }
}
.view-buttons{
  .btn-default{
    border-color: $brand-five;
    color: $brand-five;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0.8rem 0.5rem;
  }
  .btn-primary{
    border-color: $brand-five;
    background-color: $brand-five;
    color: $white;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0.8rem 0.5rem;
  }
}
.navbar-search{
  width: 35rem !important;
  position: relative;
  .dropdown-list{
    width: 35rem !important;
  }
  #loader {
    display: none;
    text-align: center;
    padding: 0;
    position: absolute;
    left: -30px;
    top: 2px;
    z-index: 10;
  }
  input{
    height: 40px !important;
  }
  .list-group{
    position: absolute;
    width: auto;
    z-index: 10;
    border: none;
    max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
    .list-group-item{
      padding: 0;
      background-color: #eefaff;
      .dropdown-item{
        line-height: 1rem;
        padding: 0.25rem 1rem;
      }
      .title{
        font-size: 1rem;
        font-weight: 800;
      }
    }
  }
}
.card-section{
  .container-fluid{
    padding: 0 !important;
  }
}
.card-home{
  .card-header{
    background-color: $blue-primary;
    color: $white;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    @media (max-width: 768px) {
      font-size: .9rem; // tamaño más pequeño para móviles
      text-align: left; // opcional: centrar en móvil
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .course-home-title{
    font-weight: 800;
    color: #0a0a0a;
    font-size: 2.2rem;
    span{
      color: $blue-primary;
    }
    @media (max-width: 768px) {
      font-size: 1.5rem; // tamaño más pequeño para móviles
      text-align: left; // opcional: centrar en móvil
      padding-top: 1rem;
    }
  }
}
.link_home{
  text-align: center;
  padding: 1rem;
  background-color: $gray-100;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  color: $gray-700;
  font-weight: bold;
}
.link_scorm{
  text-align: center;
  padding: 0.5rem;
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  color: $gray-700;
  font-weight: bold;
  border: 1px solid $gray-300;
}
.link_tool{
  text-align: center;
  padding: 1.5rem 0.5rem;
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  color: $gray-700;
  font-weight: bold;
  border: 1px solid $gray-300;
}
.title-tool-section{
  font-weight: 800;
  font-size: 1.5rem;
}
@media (max-width: 480px) {

}